:root {
  --color-midnight: #1B1E28;
  --color-midnight-lighter: #212733;
  --color-midnight-lighter-hover: #262d3d;
  --color-red: #FF4551;
  --color-red-lighter: #F56174;
  --color-green: #93FEC0;
  --color-cyan: #7dbbd1;
  --color-pink: #ff75bc;
  --color-yellow: #FFCC66;
  --color-orange: #ff9473;
  --color-sand: #DDD7CA;

  --font-family: "Red Hat Text", sans-serif;
}

@media (min-width: 768px) {
  :root {
    --desktop-grid: grid;
  }
}

body {
  background: var(--color-midnight);
  font-family: var(--font-family);
  color: var(--color-sand);
  line-height: 1.66;
}

h1, h2 {
  color: var(--color-red-lighter);
  padding-bottom: .5em;
  border-bottom: 5px solid var(--color-red);
  margin-block-start: 2em;
  margin-block-end: 1em;
  line-height: 1.3;
}

h1:first-child {
  margin-block-start: 0;
}

h2 {
  color: var(--color-yellow);
}

h3 {
  color: var(--color-yellow);
  margin-block-start: 2em;
  line-height: 1.3;
}

a {
  color: var(--color-green);
}

strong {
  color: var(--color-cyan);
}

body > header {
  margin-block-end: var(--sl-spacing-2x-large);
  display: var(--desktop-grid, block);
  grid-template-columns: 20% auto 20%;

  & > nav {
    width: fit-content;
    margin-inline: auto;

    & > ul {
      margin-inline: var(--sl-spacing-medium);
      margin-block: var(--sl-spacing-4x-large) 0;
      list-style-type: none;
      padding: 0;
      font-size: var(--sl-font-size-x-large);
      font-weight: bold;

      @media (max-width: 767px) {
        margin-block-start: var(--sl-spacing-x-large);
      }

      & a {
        text-decoration: none;
      }
    }
  }
}

main {
  font-size: clamp(1.11rem, 2vw, 1.69rem);
  max-width: 75.5rem;
  margin-inline: auto;
  background: var(--color-midnight-lighter);
  padding: 5vw;
  border-radius: 3px;
  position: relative;
}

body > footer {
  text-align: center;
  padding-block: var(--sl-spacing-2x-large);
}

abbr {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--color-pink);
  text-underline-offset: .2em;
  text-decoration-thickness: 2px;
}

code {
  color: #7ef2ae;
  font: inherit;
  font-family: ui-monospace, monospace;
  font-size: 90%;
}

pre {
  border: 1px solid var(--color-red-lighter);
  border-radius: 16px;
  margin-block: 2em;
  padding: .85em;
  overflow: auto;
}

@media (min-width: 1150px) {
  pre {
    font-size: 85%;
  }
}

playground-ide {
  height: 400px;
  margin-block: 1.25em;
  border-radius: 16px;
  overflow:hidden;

  --playground-preview-width: 40%;
  --playground-border: 1px solid var(--color-red-lighter);
  --playground-tab-bar-background: var(--color-midnight-lighter);
  --playground-tab-bar-foreground-color: var(--color-sand);
  --playground-preview-toolbar-background: var(--color-midnight-lighter);
  --playground-preview-toolbar-foreground-color: var(--color-cyan);
  --playground-highlight-color: var(--color-yellow);
  --playground-code-font-size: 16px;
  --playground-code-font-family: ui-monospace, monospace;
  --playground-code-padding: .75rem;

  /* Syntax Highlighting */

  --playground-code-background: var(--color-midnight-lighter);
  --playground-code-default-color: var(--color-sand);
  --playground-code-keyword-color: var(--color-orange);
  --playground-code-atom-color: var(--color-orange);
  --playground-code-number-color: var(--color-orange);
  --playground-code-def-color: #e6e6e6;
  --playground-code-variable-color: #e6e6e6;
  --playground-code-property-color: #ffa7d3;
  --playground-code-operator-color: var(--color-pink);
  --playground-code-variable-2-color: var(--color-sand);
  --playground-code-variable-3-color: var(--color-sand);
  --playground-code-type-color: var(--color-cyan);
  --playground-code-comment-color: #5c6773;
  --playground-code-string-color: #7ef2ae;
  --playground-code-string-2-color: var(--color-sand);
  --playground-code-meta-color: var(--color-sand);
  --playground-code-qualifier-color: var(--color-sand);
  --playground-code-builtin-color: var(--color-sand);
  --playground-code-tag-color: var(--color-red-lighter);
  --playground-code-attribute-color: var(--color-orange);
  --playground-code-callee-color: var(--color-cyan);
  --playground-bar-height: 48px;
}

playground-ide::part(preview) {
  background: var(--color-midnight-lighter);
  font-family: var(--font-family);
}

@media (max-width: 700px) {
  pre {
    font-size: 90%;
  }

  playground-ide {
    height: auto;
    flex-direction: column;
    --playground-preview-width: 100%;
  }

  playground-ide::part(editor) {
    height: 350px;
  }

  playground-ide::part(preview) {
    height: 240px;
  }
}

/* Prism Syntax Highlighting…loosely taken from Night Owl theme */
code[class^="language-"] {
  color: var(--color-sand);
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #5c6773;
	font-style: italic;
}

.token.punctuation {
  color: var(--color-sand);
}

.token.tag > .token.punctuation {
  color: var(--color-red-lighter);
}

.namespace {
	color: var(--color-orange);
}

.token.deleted {
	color: rgba(239, 83, 80, 0.56);
	font-style: italic;
}

.token.symbol,
.token.property {
	color: #ffa7d3;
}

.token.tag {
  color: var(--color-red-lighter);
}

.token.operator,
.token.keyword {
	color: var(--color-orange);
}

.token.boolean, .token.number {
	color: var(--color-orange);
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
	color: var(--color-cyan);
}

.token.selector,
.token.doctype {
	color: var(--color-sand);
	font-style: italic;
}

.token.attr-name,
.token.inserted {
	color: var(--color-orange);
	font-style: italic;
}

.token.string,
.token.entity,
.language-css .token.string,
.style .token.string {
	color: #7ef2ae;
}

.token.class-name {
  color: var(--color-cyan);
}

.token.atrule,
.token.attr-value {
	color: #7ef2ae;
}

.token.regex,
.token.important,
.token.variable {
	color: var(--color-sand);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}
